* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}
.body {
    display: flex;
    flex-direction: column;
}

.header,footer {
    background-color: #1f2937;
    color:#e5e7eb;
}
.navbar {
    display: flex;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    
}
ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 20px;
}
a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}
button {
    background-color: #3882f6;
    color: white;
    padding: 7px 35px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    border: 1px solid #3882f6;
    border-radius: 8px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
   
}
.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.sub-text {
    color:#e5e7eb;
    font-size: 18px;  
}
.title {
    font-size: 38px;
    font-weight: 900;
    color: #1f2937;
}

.hcontent {
    display: flex;
    justify-content: space-between;
}
.description {
    margin-left: 220px;
    margin-right: 50px;
    margin-top: 100px;
   
}
.image {
    background-color:#e5e7eb5b;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
    margin: 100px;
    margin-right: 220px;
    margin-left: 100px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.subbox {
    max-width:min-content;
}
.subtext {
    margin-top: 10px;
}
img {
    border-radius: 8px;
    border: 3px solid #3882f6;
}
.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 100px 400px;
    display: column;
    
    
}
.line {
    font-size: 38px;
    color: #1f2937;
    width: 800px;
}
.by {
    font-size: 24px;
    text-align: right;
    font-weight: 800;
}
.container button {
    border: 2px solid white;
    padding: 0px 35px;
    height: 35px;
}
.container {
    margin: 100px 220px;
    border: 1px;
    border-radius: 8px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
}
.text {
    font-size: 18px;
    margin-left: 10px; 
}
footer { 
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    padding: 35px;
}
 
